### LISTS

In [97]:
list1 = [1,2,5,7,9,'c',"String"]

print(list1)

[1, 2, 5, 7, 9, 'c', 'String']

In [98]:
list2 = list((1,2,5,22,"c++"))

print(list2)

[1, 2, 5, 22, 'c++']

In [99]:
string1 = "hello world!"
list3 = list(string1)

print(list3)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [100]:
print(list1)
print(list2)
print(list3)

[1, 2, 5, 7, 9, 'c', 'String']
[1, 2, 5, 22, 'c++']
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [101]:
print("list2[4]: " + list2[4])

print("list1[0:5]: ",end="")
print(list1[0:5])

list2[4]: c++
list1[0:5]: [1, 2, 5, 7, 9]

In [102]:
print("Before: ",end="")
print(list1)

list1[2] = "python"

print("After: ",end="")
print(list1)

Before: [1, 2, 5, 7, 9, 'c', 'String']
After: [1, 2, 'python', 7, 9, 'c', 'String']

In [103]:
print("Before: ")
print(list1)

del list1[2]

print("\nAfter list1[2] deleted: ")
print(list1)

Before:
[1, 2, 'python', 7, 9, 'c', 'String']

After list1[2] deleted:
[1, 2, 7, 9, 'c', 'String']

In [104]:
del list1,list2,list3
print("list1,list2 and list3 are deleted")

list1,list2 and list3 are deleted

#### **BASIC LIST OPERATIONS**

In [105]:
list1 = ["python","c++","c",1,2,3]
print("list1 = ",end="")
print(list1)

list1 = ['python', 'c++', 'c', 1, 2, 3]

In [106]:
list2 = list1 + [4,5,6]

print("list1 + [4,5,6] = ",end="")
print(list2)

list1 + [4,5,6] = ['python', 'c++', 'c', 1, 2, 3, 4, 5, 6]

In [107]:
list3 = list1 * 3
print("list1 * 3 = ",end="")
print(list3)

list1 * 3 = ['python', 'c++', 'c', 1, 2, 3, 'python', 'c++', 'c', 1, 2, 3, 'python', 'c++', 'c', 1, 2, 3]

In [108]:
bool1 = "python" in list1

print(r"python" + " in list1 = ",end="")
print(bool1)

python in list1 = True

In [109]:
for x in [1,2,3]:
    print(x,end="")

123

#### **BUILT-IN LIST METHODS AND FUNCTIONS**

In [110]:
print("list1 = ",end="")
print(list1)

list1 = ['python', 'c++', 'c', 1, 2, 3]

In [111]:
print("len(list1) =  ",end="")
print(len(list1))

len(list1) =  6

In [112]:
print(r"max([1,2,3,22,67,96,69]) = ",end="")
print(max([1,2,3,22,67,96,69]))

max([1,2,3,22,67,96,69]) = 96

In [113]:
print(r"min([1,2,3,22,67,96,69]) = ",end="")
print(min([1,2,3,22,67,96,69]))

min([1,2,3,22,67,96,69]) = 1

#### Methods

In [114]:
print("list1 = ",end="")
print(list1)

list1 = ['python', 'c++', 'c', 1, 2, 3]

- .append(obj)

In [115]:
print("after 4 appended to list1:")

list1.append(4)

print(list1)

after 4 appended to list1:
['python', 'c++', 'c', 1, 2, 3, 4]

- .count(obj)

In [116]:
print("how many times 'c++' occurs in list1 =",end="")

print(list1.count("c++"))

how many times 'c++' occurs in list1 =1

- .extend(seq)

In [117]:
print("Before: ",end="")
print(list1)

list1.extend((5,6,7))

print("After: ",end="")
print(list1)

Before: ['python', 'c++', 'c', 1, 2, 3, 4]
After: ['python', 'c++', 'c', 1, 2, 3, 4, 5, 6, 7]

- .index(obj)

In [118]:
print("item 2's index is ",end="")
print(list1.index(2))

item 2's index is 4

- .insert(index,obj)

In [119]:
print("list1 = ",end="")
print(list1) 

list1.insert(2,"OOP")

print("\nAfter 'OOP' inserted to index 2:")
print("list1 = ",end="")
print(list1,"\n")

print("new list1[2] is: ",end="")
print(list1[2])

list1 = ['python', 'c++', 'c', 1, 2, 3, 4, 5, 6, 7]

After 'OOP' inserted to index 2:
list1 = ['python', 'c++', 'OOP', 'c', 1, 2, 3, 4, 5, 6, 7]

new list1[2] is: OOP

- .pop(obj=list[-1]) : removes last item in the list and returns it

In [120]:
print("list1 = ",end="")
print(list1)

obj1 = list1.pop()

print("Last item is removed\n")

print("Removed last item:",end="")
print(obj1)

print("\nlist1 = ",end="")
print(list1)

list1 = ['python', 'c++', 'OOP', 'c', 1, 2, 3, 4, 5, 6, 7]
Last item is removed

Removed last item:7

list1 = ['python', 'c++', 'OOP', 'c', 1, 2, 3, 4, 5, 6]

- .remove(obj)

In [121]:
print("list1 = ",end="")
print(list1)

list1.remove("c")

print("item 'c' is removed")

print("\nlist1 = ",end="")
print(list1)

list1 = ['python', 'c++', 'OOP', 'c', 1, 2, 3, 4, 5, 6]
item 'c' is removed

list1 = ['python', 'c++', 'OOP', 1, 2, 3, 4, 5, 6]

- .reverse()

In [122]:
print("list1 = ",end="")
print(list1)

list1.reverse()

print("\nreverse list1 = ",end="")
print(list1)

list1 = ['python', 'c++', 'OOP', 1, 2, 3, 4, 5, 6]

reverse list1 = [6, 5, 4, 3, 2, 1, 'OOP', 'c++', 'python']

- .sort(func)

In [123]:
list2 = [22,32,11,78,1,2,8,222]

print("list2 = ",end="")
print(list2)

list2.sort()

print("\nlist2 is sorted\n")

print("list2 = ",end="")
print(list2)

list2 = [22, 32, 11, 78, 1, 2, 8, 222]

list2 is sorted

list2 = [1, 2, 8, 11, 22, 32, 78, 222]